@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        :root{
            /* Paleta de cores */
            --cor-backgroundPrincipal: #CFCBC4;
            --cor-NavRodape: #2A2E30;
            --cor-botoes: #E6B86A;
            --cor-titulos: #3F4447;
            --cor-texto: #6B4E3D;
            --cor-bordas: #8A8176;
            /* Fontes */
            --font-titulo: "Open Sans", sans-serif;
            --font-textos: "Montserrat", sans-serif;
            --font-assunto: "Lora", serif;
        }
        body{
            font-family: var(--font-textos);
            background-color: var(--cor-backgroundPrincipal);
        }
        header{
            text-align: center;

        }
        main{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            justify-content: center;
        }
        img{
            margin: auto;
            width: 100%;
        }
        ul{
            list-style-type: none;
        }
        li{
            font-weight: bold;
        }
        main #posts-rotina-invisivel #post-sub-titulo{
            
        }
        main #posts-rotina-invisivel #post-do-dia{
            margin: auto;
            width: 90vw;
        }
        main #posts-rotina-invisivel #post-do-dia #post-do-dia-imagem{
            margin: auto;
            width: 90vw;
        }
        main #posts-rotina-invisivel-form{
            
        }
        main #posts-rotina-invisivel-form #post-do-dia-form{
            display: flex;
            flex-wrap: wrap;
            width: 90vw;
            background-color: var(--cor-backgroundPrincipal);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        img{
            padding-top: 10px;
        }
        .none{
            display: none;
        }
       main #posts-rotina-invisivel-form #post-do-dia-form #post-form{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        background-color: var(--cor-backgroundPrincipal);
        width: 45vw;
        margin: auto;
        text-align: center;
       }
       main #posts-rotina-invisivel-form #post-do-dia-form #post-form #titulo-postagem{
        width: 45vw;
        margin-bottom: 5px;
        text-align: center;
       }
       main #posts-rotina-invisivel-form #post-do-dia-form #post-form #conteudo-postagem{
        width: 45vw;
        text-align: center;
       }
       main #posts-rotina-invisivel-form #post-do-dia-form #post-form-resultado{
        background-color: white;
        width: 45vw;
        min-height: 100px;
        margin: 0px auto auto auto;
        text-align: center;
        border: solid 1px var(--cor-NavRodape);
       }
       #post-btn, #btn-postagem{
        margin: 10px;
        padding: 5px;
        border-radius: 8px;
        background-color: var(--cor-botoes);
        color: var(--cor-texto);
        font-weight: bold;
       }